<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

<br>

  <div class="control-group">
        <%= f.label :category_id, class: 'control-group' %>
  
        <%= f.collection_select :category_id, Category.all, :id, :categoria, { prompt: "Choose a category" }, class: "browser-default" %>
  </div>


  <br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
