<p id="notice"><%= notice %></p>  
<div class="container" style="width:80%;">  
  <div class="row">
<h4>Mis tareas</h4>  <br>
    <%= link_to 'Nueva tarea', new_task_path %> <br>
    <div class="dig_pagination" style="text-align:center;">
      <div class="page_info">
        <!-- <= page_entries_info @tasks > LE QUITE LOS PORCENTAJES-->
      </div>
      <%= will_paginate @tasks, :container => false %>
    </div>
    
    <div class="col l4 s12">  
        <h4>Abiertas</h4>
          <% @open.each do |task| %>
         <div class="card deep-orange lighten-2">
              <div class="card-content white-text">
            <%= task.content %><br>
            <%= link_to 'Show', task %>
            <%= link_to 'Edit', edit_task_path(task) %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Mark as WIP', change_task_path(task, state: 'wip'), method: :put %>
           </div>
         <div class="tago"><%= time_ago_in_words(task.created_at) %></div>
         </div>
          <% end %>
    </div>
     <div class="col l4 s12">  
        <h4>En progreso</h4>
          <% @wip.each do |task| %>
         <div class="card blue lighten-3">
            <div class="card-content white-text">
          <%= task.content %><br>
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Mark as Open', change_task_path(task, state: 'open'), method: :put %>
          <%= link_to 'Terminada', change_task_path(task, state: 'closed'), method: :put %>
         </div>
         <div class="tago"><%= time_ago_in_words(task.updated_at) %></div>
         </div>
          <% end %>
    </div>
     <div class="col l4 s12">  
        <h4>Terminadas</h4>
          <% @closed.each do |task| %>
         <div class="card green lighten-3">
            <div class="card-content white-text">
          <%= task.content %><br>
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Mark as WIP', change_task_path(task, state: 'wip'), method: :put %>
         </div>
         <div class="tago"><%= time_ago_in_words(task.updated_at) %></div>
         </div>
          <% end %>
          
    </div>
  <br>
  </div>

</div>
<div class="dig_pagination" style="text-align:center;">
  <div class="page_info">
   <!-- <= page_entries_info @tasks > LE QUITE LOS PORCENTAJES-->
  </div>
  <%= will_paginate @tasks, :container => false %>
</div>

